.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: "Exo 2", sans-serif;
  background: radial-gradient(circle, #050338 0%, #031157 40%, #0d5390 80%, #29b8ff 100%);
  color: #bfd5ee;
}

img {
  max-width: 100%;

}

h1,
h2,
h3 {
  font-family: "Rajdhani", sans-serif;
  color: #c9dbf0;
}

a {
  text-decoration: none;
  color: #c9dbf0;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  margin-right: 30px;
  margin-top: 20px;

}

.menu a {
  font-weight: 500;
  font-size: 1.6rem;
  color: #e8f1ff;
  padding: 10px 15px;
  transition: transform 0.25s ease-in-out;
}

.menu a:hover {
  color: #8cdcf5;
  transform: translateY(-2px);
}

#hero {
  position: relative;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(55%);
  animation: zoomPulse 8s ease-in-out infinite;
  transform-origin: center;
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 700px;
  padding: 16px;
}

#hero-header {
  font-size: 4rem;
  margin-bottom: 16px;
}

#hero-text {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#hero-button {
  display: inline-block;
  padding: 10px 20px;
  background: #2998b9;
  color: #0d1b2a;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid #4cc9f0;
  margin-top: 30px;
  box-shadow:
    /* Multiple shadows create the neon effect: two outer shadows + one inner -inset- shadow for depth */
    0 0 8px rgba(76, 201, 240, 0.6),
    0 0 16px rgba(76, 201, 240, 0.4),
    inset 0 0 6px rgba(255, 255, 255, 0.2);
  transition: transform 0.25s ease-in-out;
}

#hero-button:hover {
  background: #2eb0d7;
  color: #00121f;
  
  box-shadow:
    0 0 12px rgba(76, 201, 240, 0.9),
    0 0 24px rgba(76, 201, 240, 0.7),
    0 0 36px rgba(76, 201, 240, 0.5);
  transform: translateY(-3px);
}

@keyframes zoomPulse { /*this creates the zoom in/out effect in my hero image*/
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.12); 
  }

  100% {
    transform: scale(1);
  }
}

#about {
  padding: 64px 32px; 
}

.container.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px; 
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.about-image img {
  width: 230px;
  height: 230px;

  position: relative;
  right: 120px;
  bottom: 100px;

  border-radius: 50%;
  border: 3px solid #4cc9f0;
}

.about-info {
  max-width: 550px;
  margin-top: 20px;
}

.about-info p {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #cfd8e3;
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
  margin-left: 150px;
}

.skills-header {
  margin-bottom: 15px;
  font-size: 2rem; 
  justify-content: center ;
}

.technical-skills ul,
.professional-skills ul {
  list-style: none;
}

.technical-skills li,
.professional-skills li {
  padding: 4px 0 4px 18px; 
  position: relative;
}

.technical-skills li::before,
.professional-skills li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #4cc9f0;
  font-size: 1.1rem; 
}


